@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../styles/Navbar.module.css';
@import '../styles/Footer.module.css';

/* Add these base styles */
:root {
  --foreground: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--foreground);
  background: var(--background);
  transition: all 0.3s ease;
}

.no-js .client-side-only {
  display: none;
}
@font-face {
  font-family: 'YourFontName';
  src: url('/fonts/yourfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'YourFontName', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
/* In your page.module.css */
.heroCarousel {
  height: 100vh;
  min-height: 600px;
  position: relative;
}

.carouselItemFull {
  height: 100vh;
  min-height: 600px;
}

.imageWrapper {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carouselImage {
  object-fit: cover;
  object-position: center center; /* Ensures image is centered */
}